.cart-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    color:black; 
    
  

  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    justify-content: center;
    
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart-item-image {
    width: 200px;
    height: auto;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .cart-item-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .cart-item-quantity button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    color:#333;
  }
  
  .cart-item-quantity span {
    margin: 0 10px;
  }
  
  .cart-item-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 5px;
    margin: 5px;
  }
  
  .remove-item {
    background-color: transparent;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cart-summary {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction:column;
    align-items: flex-end;

  }
  
  .cart-summary p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
  }
  .cart-item-image{
    padding: 20px;
  }